name: Flutter Development

on:
  push:
    branches: [develop, feature/*]
  pull_request:
    branches: [develop]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.19.0"
          channel: "stable"
          cache: true
          cache-key: flutter-3.19.0-stable

      - name: Install dependencies
        run: flutter pub get

      - name: Verify formatting
        run: dart format --output=none --set-exit-if-changed .

      - name: Analyze project source
        run: flutter analyze

      - name: Run tests with coverage
        run: flutter test --coverage

      - name: Upload coverage report
        uses: actions/upload-artifact@v3
        with:
          name: coverage-report
          path: coverage/lcov.info

      - name: Build Debug APK
        run: |
          flutter build apk --debug \
            --dart-define=API_KEY=${{ secrets.API_KEY }} \
            --dart-define=BASE_URL=${{ secrets.BASE_URL }} \
            --dart-define=BACKDOOR_EMAIL=${{ secrets.BACKDOOR_EMAIL }} \
            --dart-define=BACKDOOR_PASSWORD=${{ secrets.BACKDOOR_PASSWORD }}

      - name: Upload Debug APK
        uses: actions/upload-artifact@v3
        with:
          name: debug-apk
          path: build/app/outputs/flutter-apk/app-debug.apk
