name: Flutter Development

on:
  push:
    branches: [develop, feature/*]
  pull_request:
    branches: [develop]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.19.0"
          channel: "stable"

      - name: Install dependencies
        run: flutter pub get

      - name: Verify formatting
        run: dart format --output=none --set-exit-if-changed .

      - name: Analyze project source
        run: flutter analyze

      - name: Run tests
        run: flutter test

      - name: Build Debug APK
        run: |
          flutter build apk --debug \
            --dart-define=FIREBASE_API_KEY=${{ secrets.DEV_FIREBASE_API_KEY }} \
            --dart-define=FIREBASE_APP_ID=${{ secrets.DEV_FIREBASE_APP_ID }} \
            --dart-define=FIREBASE_PROJECT_ID=${{ secrets.DEV_FIREBASE_PROJECT_ID }} \
            --dart-define=FIREBASE_MESSAGING_SENDER_ID=${{ secrets.DEV_FIREBASE_MESSAGING_SENDER_ID }} \
            --dart-define=FIREBASE_AUTH_DOMAIN=${{ secrets.DEV_FIREBASE_AUTH_DOMAIN }} \
            --dart-define=FIREBASE_STORAGE_BUCKET=${{ secrets.DEV_FIREBASE_STORAGE_BUCKET }} \
            --dart-define=API_KEY=${{ secrets.DEV_API_KEY }} \
            --dart-define=BASE_URL=${{ secrets.DEV_BASE_URL }} \
            --dart-define=BACKDOOR_EMAIL=${{ secrets.DEV_BACKDOOR_EMAIL }} \
            --dart-define=BACKDOOR_PASSWORD=${{ secrets.DEV_BACKDOOR_PASSWORD }}

      - name: Upload Debug APK
        uses: actions/upload-artifact@v3
        with:
          name: debug-apk
          path: build/app/outputs/flutter-apk/app-debug.apk
